.nav
    background:  #f4f4f4
    height: 46px
    
    &_navigation
        display: flex
        align-items: center
        justify-content: space-between
        
    &_logo
        color: #95989a
        font-weight: 700
        font-style: 16px
        margin-right: 40px
    &_menu
        margin: 14px 0
        width: 85%
        font-style: 12px
        font-weight: 400
        &_link    
            margin-right: 21px
            color: #95989a
    &_exit
        text-transform: uppercase
        color: #95989a
    